uri = 'mongodb-url'
frontend = 'frontend-url'
AppPassword = 'app-password'
AdminEmail = 'admin-email'
dbName = 'your-database-name'
JWTSecret = 'your-jwt-secret-key'
endpoint = 'your-dedicated-api-endpoint';